@model ELearningProject.DAL.Entities.Subscribe
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Yararlı Linkler</h4>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">İletişim</a>
                <a class="btn btn-link" href="">Kurslarımız</a>
                <a class="btn btn-link" href="">Sık Sorulan Sorular</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">İletişim</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Pendik, İSTANBUL</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0538 612 53 95</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>kkelesyusuf23@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Bülten</h4>
                <p>Haberlerden anında haberdar olmak için abone olun.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" name="Mail" type="text" placeholder="Mail Adresiniz">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Abone Ol</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">e-Learning</a>, Tüm Hakları Saklıdır.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Düzenleyen <a class="border-bottom" href="https://www.linkedin.com/in/yusuf-kele%C5%9F-3bb788202/">YuKee</a>
                </div>
            </div>
        </div>
    </div>
</div>
