
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StudentAdminLayout/Index.cshtml";
}

<h2>Index</h2>
Profilim sayfası - settings yapılsın bu kısımda da ınstructordaki yapıyla aynı şekilde tamamlansın
