@model ELearningProject.DAL.Entities.Student
<div class="tab-pane" id="profile" role="tabpanel">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-xs-6 b-r">
                <strong>Adı</strong>
                <br>
                <p class="text-muted">@Model.Name</p>
            </div>
            <div class="col-md-3 col-xs-6 b-r">
                <strong>Soyadı</strong>
                <br>
                <p class="text-muted">@Model.Surname</p>
            </div>
            <div class="col-md-3 col-xs-6 b-r">
                <strong>Email</strong>
                <br>
                <p class="text-muted">@Model.Mail</p>
            </div>
        </div>
    </div>
</div>
