@model ELearningProject.DAL.Entities.AboutPurpose
@{
    ViewBag.Title = "AddAboutPurpose";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddAboutPurpose</h2>

<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>