@model List<ELearningProject.DAL.Entities.ContactMap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Embed Link</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @if (ViewBag.contactMapCount == 0)
    {
        <div class="alert alert-info" role="alert">
            Harita bilgisi bulunmamaktadır.
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactMapID</td>
                <td>@item.EmbedLink.Substring(0,50)...</td>
                <td><a href="/ContactMap/DeleteContactMap/@item.ContactMapID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/ContactMap/UpdateContactMap/@item.ContactMapID" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    }
</table>
<a href="/ContactMap/AddContactMap/" class="btn btn-outline-primary">Harita Bilgisi Ekle</a>