<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="/StudentProfile/Index/" aria-expanded="false"><i class="mdi mdi-account-location"></i><span class="hide-menu">Profilim</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/StudentProfile/MyCourseList/" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">Kurslarım</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/StudentProfile/CourseBuy/" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">Kurs Al</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        <a href="/StudentSetting/Index/" class="link" data-toggle="tooltip" title="Settings" style="width:50%;"><i class="ti-settings"></i></a>
        <a href="/StudentAdminLayout/LogOut/" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power" style="width:50%;"></i></a>
    </div>
</aside>


