
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Templates/material-lite-master/assets/images/favicon.png">
    <title>e-Learning | Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Templates/material-lite-master/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Templates/material-lite-master/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Templates/material-lite-master/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="~/Content/rating.css" rel="stylesheet" />
    <link href="~/Templates/starDocuments/css.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="~/Templates/starDocuments/css.css" rel="stylesheet" />
    <script src="~/Templates/starDocuments/js.js"></script>
</head>

