@model List<ELearningProject.DAL.Entities.Instructor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Eğitmen Ad Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kurslar</th>
        <th>Sitede Gör</th>
    </tr>
    @if (ViewBag.ınstructorCount == 0)
    {
        <div class="alert alert-info" role="alert">
            Eğitmen kaydı bulunmamaktadır.
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.InstructorID</td>
                <td><img src="@item.ImageURL" style="height:50px; width:50px; border-radius:50%;" /></td>
                <td>@item.Name @item.Surname</td>
                <td><a href="/Instructor/DeleteInstructor/@item.InstructorID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Instructor/UpdateInstructor/@item.InstructorID" class="btn btn-outline-success">Güncelle</a></td>
                <td><a href="/Instructor/#/@item.InstructorID" class="btn btn-outline-warning">Kurslar</a></td>
                <td><a href="/Instructor/#/@item.InstructorID" class="btn btn-outline-info">Sitede Gör</a></td>
            </tr>
        }
    }
</table>
<a href="/Instructor/AddInstructor/" class="btn btn-outline-primary">Eğitmen Ekle</a>