* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
}

.rating-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	padding: 2em 2em 2em 5em;
	gap: 10px;
	border-top-right-radius: 75px;
	border-bottom-right-radius: 75px;
	border: none;
	position: relative;
	background: #2b2b2b;
	box-shadow: 0 1px 1px hsl(0deg 0% 0%/0.075), 0 2px 2px hsl(0deg 0% 0%/0.075),
		0 4px 4px hsl(0deg 0% 0%/0.075), 0 8px 8px hsl(0deg 0% 0%/0.075),
		0 16px 16px hsl(0deg 0% 0%/0.075);
	.rating-value {
		position: absolute;
		top: -10px;
		left: -69px;
		border-radius: 50%;
		height: 138px;
		width: 138px;
		background: #ffbb00;
		box-shadow: 0 1px 1px hsl(0deg 0% 0%/0.075), 0 2px 2px hsl(0deg 0% 0%/0.075),
			0 4px 4px hsl(0deg 0% 0%/0.075), 0 8px 8px hsl(0deg 0% 0%/0.075),
			0 16px 16px hsl(0deg 0% 0%/0.075), inset 0 0 10px #f7db5e, 0 0 10px #f7db5e;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
			line-height: 138px;
			font-size: 2.5em;
			color: #2b2b2b;
			content: "0";
			transform-origin: "center center";
			transition: all 0.25s ease 0s;
		}
		&:after {
			content: "";
			position: absolute;
			height: 138px;
			width: 138px;
			top: -1px;
			left: -1px;
			
			// height: 170px;
			// width: 170px;
			// top: -16px;
			// left: -16px;
			
			margin: auto;
			border: 1px solid #ffbb00;
			border-radius: 50%;
			transition: all 0.4s ease-in;
		}
	}
	input {
		display: none;
	}
	label {
		height: 50px;
		width: 50px;
		transform-origin: "center center";
		svg {
			transition: transform 0.4s ease-in-out;
			opacity: 0.5;
		}
		&:hover {
			svg {
				transform: scale(1.25) rotate(10deg);
			}
		}
	}
}

input:checked ~ label svg {
	opacity: 1;
	transform: scale(1.25) rotate(10deg);
}

label:hover {
	svg,
	~ label svg {
		opacity: 1;
		transform: scale(1.25) rotate(10deg);
	}
}

input:checked {
	+ label:hover svg {
		opacity: 1;
	}

	~ label:hover {
		svg,
		~ label svg {
			opacity: 1;
		}
	}
}

label:hover ~ input:checked ~ label svg {
	opacity: 1;
}

#rate1:checked ~ .rating-value:before {
	content: "1";
	font-size: 2.75em;
}

label[for="rate1"]:hover ~ .rating-value:before {
	content: "1" !important;
	font-size: 2.75em !important;
}

#rate2:checked ~ .rating-value:before {
	content: "2";
	font-size: 3em;
}

label[for="rate2"]:hover ~ .rating-value:before {
	content: "2" !important;
	font-size: 3em !important;
}

#rate3:checked ~ .rating-value:before {
	content: "3";
	font-size: 3.25em;
}

label[for="rate3"]:hover ~ .rating-value:before {
	content: "3" !important;
	font-size: 3.25em !important;
}

#rate4:checked ~ .rating-value:before {
	content: "4";
	font-size: 3.5em;
}

label[for="rate4"]:hover ~ .rating-value:before {
	content: "4" !important;
	font-size: 3.5em !important;
}

#rate5:checked ~ .rating-value:before {
	content: "5";
	font-size: 3.75em;
}

@keyframes pulse {
	0% {
		height: 138px;
		width: 138px;
		top: -1px;
		left: -1px;
		opacity: 1;
	}
	100% {
		height: 170px;
		width: 170px;
		top: -16px;
		left: -16px;
		opacity: 0;
	}
}

#rate5:checked ~ .rating-value:after {
	animation: pulse 0.4s ease-out 1;
}

label[for="rate5"]:hover ~ .rating-value:before {
	content: "5" !important;
	font-size: 3.75em !important;
}