@model List<ELearningProject.DAL.Entities.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/InstructorAdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Kurs Adı</th>
    </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name @item.Surname</td>
                <td>@item.Mail</td>
                <td>kurs adı gelecek</td>
            </tr>
        }
</table>
