<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="/#/Index/" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Category/Index/" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Kategoriler</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Instructor/Index/" aria-expanded="false"><i class="mdi mdi-school"></i><span class="hide-menu">Eğitmenler</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Student/Index/" aria-expanded="false"><i class="mdi mdi-account-location"></i><span class="hide-menu">Öğrenciler</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Course/Index/" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">Kurslar</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Testimonial/Index/" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Referanslar</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/About/Index/" aria-expanded="false"><i class="mdi mdi-assistant"></i><span class="hide-menu">Hakkımızda</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/AboutPurpose/Index/" aria-expanded="false"><i class="mdi mdi-hook"></i><span class="hide-menu">Amaçlar</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Contact/Index/" aria-expanded="false"><i class="mdi mdi-message"></i><span class="hide-menu">Gelen Mesajlar</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/ContactMap/Index/" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">Harita</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/ContactInformation/Index/" aria-expanded="false"><i class="mdi mdi-contacts"></i><span class="hide-menu">İletişim</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item--><a href="/InstructorProfile/Index/" class="link" data-toggle="tooltip" title="Settings" style="width:50%"><i class="ti-settings"></i></a>
        <!-- item--><a href="/Login/LogOut/" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power" style="width:50%"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>
